/*
 * 系统共通样式定义
 * */

/*系统级别主色调定义*/
.common-bg-color-blue {
	background-color: #47BAFE;
}
.common-bg-color-white {
	background-color: white;
}
.common-font-color-blue {
	color: #47BAFE;
}
.common-font-color-white {
	color: white;
}

.common-btn-login {
	color: white;
	border: 1px white solid;
	border-radius: 25px;
}
.common-btn-yzm {
	background-color: #47BAFE;
	color: white;
	border-radius: 25px;
	width: 30%;
}

/* 页面Header部分共通样式 */
header {
	background-color: #47BAFE !important;
}
header h1 {
	color: white !important;
}
header a {
	color: white !important;
}
header a span {
	font-size: 15px;
	font-weight: bolder;
}

