/*
 * 系统共通样式定义
 * */

/*系统级别主色调定义*/
.common-bg-color-blue {
	background-color: #47BAFE;
}
.common-bg-color-white {
	background-color: white;
}
.common-font-color-blue {
	color: #47BAFE;
}
.common-font-color-white {
	color: white;
}

.common-btn-login {
	color: white;
	border: 1px white solid;
	border-radius: 25px;
}
.common-btn-yzm {
	background-color: #47BAFE;
	color: white;
	border-radius: 25px;
	width: 30%;
}

html, body {
	background-color: #EFEFF4;
}
			
/* 页面Header部分共通样式 */
.mui-bar-nav {
	background-color: #47BAFE;
}
.mui-bar-nav h1 {
	color: white;
}
.mui-bar-nav a {
	color: white;
}
.mui-bar-nav a span {
	font-size: 15px;
	font-weight: bolder;
}

/* box封装 */
.box{
	background-color: white;
	padding: 20px;
	border-radius: 3px;
	margin: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-info {
	border-top: 3px solid #47BAFE;
}

.box-success {
	border-top: 3px solid lawngreen;
}

.box-warning {
	border-top: 3px solid gold;
}

.box-error {
	border-top: 3px solid red;
}

